<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="agrega-movimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
      }

      .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          top: -5px;
          left: 105%;
      }

      .tooltip:hover .tooltiptext {
          visibility: visible;
      }
      .exitoagregar{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">AM</div>
        <div id="agregar" class="agregar">
          <h1>Agregar movimiento</h1>
          <table>
            <tbody>
              <tr>
                <td>
                  Fecha:
                </td>
                <td>
                  <input id="fecha" name="text" type="date" value="2018-10-26"  required="required">
                </td>
              </tr>
              <tr>
                <td>
                  Descripción:
                </td>
                <td>
                  <input id="descripcion" name="descripcion" type="text" value="" required="required" maxlength="50">
                </td>
              </tr>
              <tr>
                <td>
                  Importe:
                </td>
                <td>
                  <!--<input id="importe" name="importe" type="number" value="0" autocomplete="off" required="required" maxlength="13" min="0" max="9999999999999" >-->
                  <input id="importe" name="importe" type="text" value="0.00" autocomplete="off" required="required" maxlength="16" >
                </td>
              </tr>
            </tbody>
          </table>
          <button class="button"  type="button" on-click="agregarUnMovimiento">Agregar</button>
        </div>
        <div id="exitoagregar" class="exitoagregar">
          <h1>¡Movimiento agregado!</h1>
          <button id="otrousuario" class="button" type="button" on-click="agregarOtroMovimiento">Agregar otro movimiento</button>
        </div>
      </div>
  </template>

  <script>
    class AgregaMovimiwento extends Polymer.Element {
      static get is() { return 'agrega-movimiento'; }

      agregarUnMovimiento(){
        var validacion = true;
        var fecha = this.$.fecha.value;
        var descripcion = this.$.descripcion.value;
        var importe = this.$.importe.value;
        var pattImporte = new RegExp("^[+-]?([0-9]*[.])?[0-9]+$");
        var resultImporte = pattImporte.test(importe);

        var timestamp = new Date();
        var min = (timestamp.getMinutes() < 10) ? '0' + timestamp.getMinutes() : timestamp.getMinutes();
        var hr = (timestamp.getHours() < 10) ? '0' + timestamp.getHours() : timestamp.getHours();
        var hora = hr+":"+min;
        var cliente = sessionStorage.getItem('cliente');

        console.log( "fecha........: " + fecha);
        console.log( "hora.........: " + hora);
        console.log( "cliente......: " + cliente);
        console.log( "descripcion..: " + descripcion);
        console.log( "importe......: " + importe);
        console.log( "resultImporte: " + resultImporte);

        if (cliente == null){
          if(validacion){
            console.log("Descripcion no imformado");
            alert("No hay sesion activa, favor de logearse.");
            validacion = false;
          }
        }

        if (fecha.length == 0){
          if(validacion){
            console.log("Fecha no imformado");
            alert("Debe informar la Fecha o poner una fecha valida.");
            validacion = false;
          }
        }

        if (descripcion.length == 0){
          if(validacion){
            console.log("Descripcion no imformado");
            alert("Debe informar la Descripcion.");
            validacion = false;
          }
        }

        if (!resultImporte){
          if(validacion){
            console.log("importe no pasa patron");
            alert("El importe debe tener decimales.");
            validacion = false;
          }
        }else {
          var importeFloat = parseFloat(importe);
          console.log("importeFloat...: " + importeFloat);
          var importeFor = new Intl.NumberFormat("en-IN").format(importeFloat);
          console.log("importeFor...: " + importeFor);
              this.$.importe.value = importeFor;
        }

        if (importeFloat == 0.0){
          if(validacion){
            console.log("importe en cero");
            alert("El importe debe ser mayor a cero.");
            validacion = false;
          }
        }

        if(validacion){
          var request = new XMLHttpRequest();
          var data = {
                    "fecha": fecha,
                    "hora" : hora,
                    "user": cliente,
                    "descripcion": descripcion,
                    "importe": importeFor
                  };
          var json = JSON.stringify(data);
          console.log( "Agrega movimiento: " + json);
          request.open("POST","http://localhost:3000/altaMovimiento",false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
          request.send(json);
          console.log( request.responseText);
            this.$.exitoagregar.style.display = "block";
          this.$.agregar.style.display = "none";
        }
      }


      agregarOtroMovimiento(){
        this.$.fecha.value = "2018-10-26";
        this.$.descripcion.value ="";
        this.$.importe.value ="0";
        this.$.exitoagregar.style.display = "none";
        this.$.agregar.style.display = "block";
      }

    }

    window.customElements.define(AgregaMovimiwento.is, AgregaMovimiwento);
  </script>
</dom-module>
