<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="agrega-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }

      .exitoagregar{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">AU</div>
        <div id="agregar" class="agregar">
          <h1>Agregar Usuario</h1>
          <p></p>
          <table>
            <tbody>
              <tr>
                <td>
                Nombre:
              </td>
              <td>
                <input id="nombre" name="nombre" type="text" value="" autocomplete="off" maxlength="30" required=true  required="required">
              </td>
            </tr>
            <tr>
              <td>
                Apellido Paterno:
              </td>
              <td>
                <input id="apellidop" name="apellidop" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
            </tr>
            <tr>
              <td>
                Apellido Materno:
              </td>
              <td>
                <input id="apellidom" name="apellidom" type="text" value=""  maxlength="30"  required=true  required="required">
              </td>
            </tr>
            <tr>
              <td>
                Usuario:
              </td>
              <td>
                <input id="usuario" name="usuario" type="text" value="" autocomplete="off" pattern="^([A-Z0-9]){8,8}$" required="required"  onkeyup="this.value = this.value.toUpperCase();">
              </td>
            </tr>
            <tr>
              <td>
                Constraseña:
              </td>
              <td>
                <input id="password" name="password" type="password" value=""  autocomplete="off"  pattern="^([A-Za-z0-9]){10,10}$" required="required">
              </td>
            </tr>
            <tr>
              <td>
                Confirmar constraseña:
              </td>
              <td>
                <input id="password2" name="password2" type="password" value=""  autocomplete="off"  pattern="^([A-Za-z0-9]){10,10}$" required="required">
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button" type="button" on-click="agregarUsuario">Agregar</button>
      </div>
      <div id="exitoagregar" class="exitoagregar">
        <h1>¡Alta exitosa!</h1>
        <button id="otrousuario" class="button" type="button" on-click="agregarOtroUsuario">Agregar otro usuario</button>
      </div>
    </div>
  </template>

  <script>
    class AgregaUsuario extends Polymer.Element {
      static get is() { return 'agrega-usuario'; }

      agregarUsuario(){
        var validacion = true;
        var timestamp = new Date();
        var mes = (timestamp.getMonth() < 10) ? '0' + timestamp.getMonth() : timestamp.getMonth();
        var dia = (timestamp.getDate() < 10) ? '0' + timestamp.getDate() : timestamp.getDate();
        var min = (timestamp.getMinutes() < 10) ? '0' + timestamp.getMinutes() : timestamp.getMinutes();
        var hr = (timestamp.getHours() < 10) ? '0' + timestamp.getHours() : timestamp.getHours();
        var fecha = timestamp.getFullYear()+"-"+mes+"-"+dia;
        var hora = hr+":"+min;
        var nombre    = this.$.nombre.value;
        var apellidop = this.$.apellidop.value;
        var apellidom = this.$.apellidom.value;
        var usuario   = this.$.usuario.value;
        var password  = this.$.password.value;
        var password2  = this.$.password2.value;
        var pattUsuario = new RegExp("^([A-Z0-9]){8,8}$");
        var pattPassword = new RegExp("^([A-Za-z0-9]){10,10}$");
        var resultUsuario = pattUsuario.test(usuario);
        var resultPassword = pattPassword.test(password);
        var resultPassword2 = pattPassword.test(password2);

        console.log( "Inicio Agrega usuario nombre: " + nombre);
        console.log( "Inicio Agrega usuario apellido paterno: " + apellidop);
        console.log( "Inicio Agrega usuario apellido materno: " + apellidom);
        console.log( "Inicio Agrega usuario usuario: " + usuario);
        console.log( "Inicio Agrega usuario password: " + password);
        console.log( "Inicio Agrega usuario password2: " + password2);
        console.log( "Login resultUsuario : " + resultUsuario);
        console.log( "Login resultPassword: " + resultPassword)
        console.log( "Login resultPassword2: " + resultPassword2)
        console.log( "fecha: " + fecha);
        console.log( "Hora: " + hora);

        if (nombre.length == 0){
          if(validacion){
            console.log("Nombre no imformado");
            alert("Debe informar el Nombre.");
            validacion = false;
          }
        }

        if (apellidop.length == 0){
          if(validacion){
            console.log("Apellido Paterno no imformado");
            alert("Debe informar el Apellido Paterno.");
            validacion = false;
          }
        }

        if (apellidom.length == 0){
          if(validacion){
            console.log("Apellido Materno no imformado");
            alert("Debe informar el Apellido Materno.");
            validacion = false;
          }
        }

        if (!resultUsuario){
          if(validacion){
            console.log("Usuario incorrectos");
            alert("Usuario debe ser alfanumero de 8 posciones, letras en mayusculas.");
            validacion = false;
          }
        }

        if (!resultPassword){
          if(validacion){
            console.log("Constraseña incorrectos");
            alert("Constraseña debe ser alfanumero de 10 posciones.");
            validacion = false;
          }
        }else {
          if(password2 != password){
            if(validacion){
              console.log("Constraseña no iguales");
              alert("La Contraseñas ingresadas no son iguales.");
              validacion = false;
            }
          }
        }

        if(validacion){
          var request = new XMLHttpRequest();
          var data = {
                    "user": usuario,
                    "password": password,
                    "nombre": nombre,
                    "apellidop": apellidop,
                    "apellidom": apellidom,
                    "fecha" : fecha,
                    "hora" : hora
                  };

          var json = JSON.stringify(data);
          console.log( "Usuario: " + json);

          request.open("POST","http://localhost:3000/altaCliente",false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8','Access-Control-Allow-Methods=*');
          request.send(json);
          console.log( request.responseText);
          if(request.status == 200){
            this.$.exitoagregar.style.display = "block";
            this.$.agregar.style.display = "none";
          }else {
            alert("Usuario ya existente.");
          }
        }
      }

      agregarOtroUsuario(){
         this.$.nombre.value="";
         this.$.apellidop.value="";
         this.$.apellidom.value="";
         this.$.usuario.value= "";
         this.$.password.value = "";
         this.$.password2.value = "";
         this.$.exitoagregar.style.display = "none";
         this.$.agregar.style.display = "block";
      }
    }

    window.customElements.define(AgregaUsuario.is, AgregaUsuario);
  </script>
</dom-module>
