<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="consulta-externa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }

      td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .datosExternos{
        display: none;
      }
    </style>

    <div class="card">
      <div class="circle">CE</div>
      <h1>Consulta Externa en Northwind</h1>
      <div id="divclientes" class="row">
        <button class="button" type="button" on-click="obtenerClientes">Consultar</button>
      </div>
        <div>
          <table>
                <thead>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>apellido</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{clientes}}">
                    <tr>
                      <td>
                        [[item.CustomerID]]
                      </td>
                      <td>
                      [[item.ContactName]]
                      </td>
                    <td>
                      [[item.CompanyName]]
                    </td>
                  </tr>
                  </template>
                </tbody>
          </table>
        </div>
      </div>

  </template>

  <script>
    class ConsultExterna extends Polymer.Element {
      static get is() { return 'consulta-externa'; }
      static get properties() {
        return {
            clientes:{
            type:Array,
            notify:true
           }
          };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        this.$.datosExternos.style.display = "block";
        console.log( this.clientes);
      }
    }

    window.customElements.define(ConsultExterna.is, ConsultExterna);
  </script>
</dom-module>
