<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="consulta-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
      }

      th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }

      td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      #tdImporte {
          border: 1px solid #dddddd;
          text-align: right;
          padding: 8px;
      }
      .tdFecha {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }
      .tdHora {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
    </style>

    <div class="card">
      <div class="circle">CM</div>
      <h1>Consulta movimientos</h1>
      <div id="divMovimientosCta" class="row">
        <button class="button" on-click="obtenerMovimientosCta">Consultar</button>
      </div>
      <br/>
      <div>
        <table>
          <thead>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Descripción</th>
            <th>Importe</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td class="tdFecha">
                  [[item.fecha]]
                </td>
                <td class="tdHora">
                  [[item.hora]]
                </td>
                <td>
                  [[item.descripcion]]
                </td>
                <td id="tdImporte">
                  [[item.importe]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    class ConsultaMovimientos extends Polymer.Element {
      static get is() { return 'consulta-movimientos'; }
      static get properties() {
        return {
            movimientos:{
            type:Array,
            notify:true
          }
        };
      }

      obtenerMovimientosCta(){
        var request = new XMLHttpRequest();
        var cliente = sessionStorage.getItem('cliente');
        console.log( "cliente....: " + cliente);
        if(cliente == null){
          console.log("Descripcion no imformado");
          alert("No hay sesion activa, favor de logearse.");
        }else{
          request.open("GET","http://localhost:3000/consultaMov/"+cliente,false);
          request.send();
          console.log("request.responseText..: " + request.responseText);
          console.log( "Movimientos JSON:"+JSON.parse(request.responseText));
          this.movimientos = JSON.parse(request.responseText);
          console.log( "this.movimientos..: " + this.movimientos);
        }
      }
    }

    window.customElements.define(ConsultaMovimientos.is, ConsultaMovimientos);
  </script>
</dom-module>
