<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-authenticate">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      .Exito{
        display: none;
      }

    </style>

    <div class="card">
      <div class="circle">L</div>

        <div id="Login">
          <h1>Login</h1>
          <table>
            <tbody>
              <tr>
                <td>
                  Usuario:
                </td>
                <td>
                  <input id="usuario" name="usuario" type="text" value="" autocomplete="off" placeholder="usuario" pattern="^([A-Z0-9]){8,8}$" required="required"  onkeyup="this.value = this.value.toUpperCase();">
                </td>
              </tr>
              <tr>
                <td>
                  Contraseña:
                </td>
                <td>
                  <input id="password" name="password" type="password" value=""  autocomplete="off"  placeholder="password" pattern="^([A-Za-z0-9]){10,10}$" required="required">
                </td>
              </tr>
            </tbody>
          </table>
          <button  class="button" type="button" on-click="realizaLogin">Ingresar</button>
        </div>
        <div id="Exito" class="Exito">
          <h1>¡Has ingresado correctamente!</h1>
        </div>

    </div>
  </template>

  <script>
    class LoginAuthenticate extends Polymer.Element {
      static get is() { return 'login-authenticate'; }

      realizaLogin(){
          var usuario = this.$.usuario.value;
          var password = this.$.password.value;
          console.log( "Login usuario : " + usuario);
          console.log( "Login password: " + password);
          var pattUsuario = new RegExp("^([A-Z0-9]){8,8}$");
          var pattPassword = new RegExp("^([A-Za-z0-9]){10,10}$");
          var resultUsuario = pattUsuario.test(usuario);
          var resultPassword = pattPassword.test(password);
          console.log( "Login resultUsuario : " + resultUsuario);
          console.log( "Login resultPassword: " + resultPassword);

          if(resultUsuario && resultPassword){
              var request = new XMLHttpRequest();
              var url ='http://localhost:3000/validaCliente?user='+usuario+'&password='+password;
              console.log( "Consulta url: " + url);
              request.open("GET",url,false);
              request.send();
              console.log("request.status..: "+request.status);
              console.log("request.responseText..: "+request.responseText);

              if(request.status == 200){
                console.log("request.responseText.[0].: "+request.responseText[0]);
                var obj = JSON.parse(request.responseText);
                console.log("obj[0]..: "+obj[0].user);
                if(obj[0].user === undefined){
                  alert("Usuario o contraseña incorrectos, verifique.");
                }else{
                  sessionStorage.setItem('cliente', obj[0].user);
                  this.$.Exito.style.display = "block";
                  this.$.Login.style.display = "none";
                }
              }else {
                alert("Usuario o contraseña incorrectos, verifique.");
              }
        } else{
            if (!resultUsuario){
              console.log("Usuario incorrectos");
              alert("Usuario debe ser alfanumero de 8 posciones, letras en mayusculas.");
            }else {
              console.log("Contraseña incorrectos");
              alert("Contraseña debe ser alfanumero de 10 posciones");
            }
        }
      }

    }

    window.customElements.define(LoginAuthenticate.is, LoginAuthenticate);
  </script>
</dom-module>
